<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="https://fonts.googleapis.com/css?family=Chivo&display=swap" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <title>Pokemon Scrapper</title>
  </head>
  <body>    
    
    <div class="charizard">

      <div class="container">

      <div class="jumbotron text-center" id="jumbo">
          <a class="text-center theCard ml-2 mr-2"href="/"><button type="button" class="btn btn-success">CASA</button></a>
          <a class="text-center theCard ml-2 mr-2" href="/scrape"><button type="button" class="btn btn-primary">SCRAPE ME!!!</button></a>
          <a class="text-center theCard ml-2 mr-2" href="/saved"><button type="button" class="btn btn-danger">SAVED MEH!!!</button></a>
      </div>

      {{{body}}}
    </div>

    </div>

    <script src="app.js"></script>
  </body>
</html>