<p class="text">POKEMONNN!!!</p>
<p class="text">EVERY KIDS DREAM TO CATCH EM ALL!!!</p>
<p class="text">Learn S0me the ying yang of POKEMON WORLD!</p>
<h2 class="text">WHO KNOWS!!! YOU MIGHT BE THE NEXT GREAT GYM LEADER!!!</h2>